.home_quotes{
    margin-top: 30px;
}

#wb-cont{
    margin-bottom: 20px;
}

.collapsible {
    background-color: #eaebed;
    color: #164688;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    margin-top: 20px;
}

.active, .collapsible:hover {
    background-color: #ccc;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .checkmark {
      margin-right: 15px;
      font-weight: 3em;
  }