.new {
    background-color: #e8f4d9;
    color: #666;
    margin: 10px;
    padding: 20xp;
    margin-top: 20px;
    border-radius: 6px;
}

.shadow-blur {
    position: relative;
}

.shadow-blur:before {
    content: "";
    display: block;
    background: inherit;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    z-index: -1;
    opacity: .4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-radius: inherit;
    -webkit-transform: scale(1);
    transform: scale(1);
}



.radius {
    border-radius: 3px;
}

p {
    margin: 0px 0px;
}

.fixed-table-loading {
    display: none;
}

//#news a {}

a:hover {
    color: #ba2636;
    text-decoration: none;
}

#news p {
    font-size: 14px;
    margin-left: 20px;
}
