.form-group{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 1.5rem;
}

.project_list {
    margin-bottom: 10px;
    margin-top: 10px;
}

.search_results-btn {
  background-color: #335075;
  color: aliceblue;
  border-color: #335075;
  margin-top: 15px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.4375;
}

.search-btn-project {
    margin-right: 8px; 
}

#project-list-title {
    margin-left: 13px;
}
